article{
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
.topRow{
    display: flex;
}
.X{
    background-color: violet;
}
.O {
    background-color: rgb(11, 196, 247);
}
.Win {
    background-color: yellow;
}
.middleRow{
    display: flex;
}
.bottomRow{
    display: flex;
}